---
layout: default
title: Home
---

<main>
  {% if page.title %}
  <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}
  <section>
    <h2>{{ site.github.owner.login }}</h2>
    <div id="profil">
      <article>
        <div><img src="{{ site.github.owner.avatar_url }}" alt="Avatar" /></div>
        <div><p>{{ site.github.owner.bio }}</p></div>
      </article>
    </div>
  </section>
  <section>
    <h2>Repositorys</h2>
    {% for repo in site.github.public_repositories %}
      {% if repo.private == false and repo.fork == false and repo.name != "JJeanniard.github.io"
       %}
      <article>
        <h3>{{ repo.name }}</h3>
        <h4><a href="{{ repo.html_url }}">{{ repo.full_name }}</a></h4>
        <p>{{ repo.description }}</p>
      </article>
      {% endif %}
    {% endfor %}
  </section>
</main>